<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Prueba</title>
</head>
<body>
    <h1> Bienvenidos a mi web con python</h1>
    <p>Soy {{nombre}}{{apellido}} y este es mi diminuto proyecto de prueba</p>
    <p>Fecha: {{fecha}}</p>
    <img src="https://images.pexels.com/photos/577585/pexels-photo-577585.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="codigo en Visual">
    <script>alert('Hola, esta alerta era solo para molestar')</script>
</body>
</html>